body{font-family:'Open Sans',sans-serif;font-size:100%;margin:0;background-color:#e5e5e5;position:relative}
html{font-size:15px;line-height:1.5em;}
#header{position:fixed;top:0;width:100%;height:50px;text-align:left;background-color:rgba(255,152,0,0.98);line-height:50px;z-index:100}
h1{width:70%;margin:40px auto 40px;font:500 50px 'Open Sans',sans-serif;color:#05d}
h2{max-width:800px;text-align: center;word-wrap: break-word;margin: 0 auto; font: 500 25px 'Open Sans',sans-serif}
a,a:visited,a:hover,a:active {text-decoration: none;color:blue}
img{vertical-align:middle}
#header a{text-decoration:none;margin-left:20px;font:400 18px 'Open Sans',sans-serif;color:#fff}
#header a img{height:18px;width:18px;position:relative;top:2px;vertical-align: baseline}
footer{max-width:800px;text-align: center; font-size:12px;margin:0 auto;line-height:14px;color:#222;}
section{background-color:#fff;padding:4em 1em;text-align:center;color:#333}
section p{font-size:16px;max-width: 800px;margin:20px auto;text-align: justify;word-wrap: break-word}
#lbtimer{background-color: #fc7;padding-bottom:0}
#cframe{position:relative;display:inline-block;padding:24px 20px 10px;border-style:solid;border-bottom-style: none; border-width:4px;border-left-color:#eee;border-right-color: #ddd;border-top-color:#f0f0f0; border-top-left-radius: 14px;border-top-right-radius: 14px;background-color: #000}
#cframe:before{content:"";position:absolute;top:10px;left:50%;border:3px solid #888;border-radius:50%}
.comments{border-top:1px solid #ddd}
.comments p{text-align: center}
.hl{position:absolute;border:4px dashed red}
figure{position:relative;display:inline-block;margin:0 0 24px 40px}
figure img{display:inline-block;border:1px solid #222}
figcaption{position:absolute;bottom:-18px;font-size:12px}
.present{text-align:center;margin:0 auto;max-width:600px;position:relative}
.lbt{font:bold 35px sans-serif;margin:0 auto;padding:0 1em}
.content{position:relative;top:50px}